<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/dashboard.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Dashboard</h1>
<ul id="leaderboard">
    <!-- Leaderboard entries will be populated here -->
</ul>
</body>
</html>
