<!DOCTYPE html>
<html lang="en">
<link href="/stylesheets/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<h1>Leaderboard</h1>
<ul id="leaderboard">
    <!-- Leaderboard entries will be populated here -->
</ul>
<script src="/js/leaderboard.js"></script>
</body>
</html>
